body {
  display: flex;
  color:rgba(255, 255, 255, 0.514);
  text-align: center;
  background: black;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2em;
  color: #023d16;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: 2s ease-in-out;
}

button {
  margin-top: 20px;
  padding: 15px;
  font-size: 16px;
  border: 2px solid #030000;
  border-radius: 5px;
  background: #011809;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0 0px 8px #023d16;
  transition: all 0.3s ease;
}

button:hover {
  color: #011809;
  background-color:  rgb(60, 255, 0);
  box-shadow: 0 0px 12px #023d16;
  transform: scale(1.05);
}

.address-input {
  font-size: 25px;
  margin-bottom: 20px;
  background-color: #01180fc7;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 10px rgba(60, 255, 0, 0.26);
  padding: 50px;
  margin: 50px;
  width: 50%;
}
input::active{
  border:2px solid #011d0bd0;
}

input::placeholder{
  color:#011d0bd0;
}

input{
  font-size: 22px;
  background-color: #023d16b7;
  color: black;
  border:0px;
  border-radius: 5px;
  padding:2px;
  color:#011809;
}

#map {
  height: 400px; /* Ajuste o tamanho conforme necessário */
  width: 100%;
}
